<div class="book" (click)="editBook(book.id)">
  <div class="book__title" [title]="book.title">{{ book.title }}</div>
  <div class="book__information">
    <div class="book__author">Author: {{ book.author }}</div>
    <div class="book__publication-year">Publication Year: {{ book.publicationYear }}</div>
  </div>
</div>
<div class="actions">
  <div class="edit" (click)="editBook(book.id)"><mat-icon>edit</mat-icon></div>
  <div class="delete" (click)="deleteBook(book.id)"><mat-icon>delete</mat-icon></div>
</div>
