<div class="container">
  <div class="head-block">
    <div class="search"><input type="text" class="search-control" [formControl]="searchControl" placeholder="Search..."></div>
    <div class="add-button" (click)="addBook()"><mat-icon>add</mat-icon> Add book</div>
  </div>

  <div class="book-list">
    @for (book of (books$ | async); track book) {
      <app-book @listAnimation
                [book]="book"
                (editBookEvent)="editBook($event)"
                (deleteBookEvent)="deleteBook($event)">
      </app-book>
    }
  </div>
</div>
